<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row py-3 bg-light">
              <div class="col-sm-12">
                <a target="_blank" class="text-dark" [routerLink]="['/customers/custdetail', detailHiring?.customer?._id]">
                  <h5 class="font-weight-500">Customer</h5>
                </a>
              </div>
              <div class="col-sm-12">
                <div class="media align-items-center">
                  <a (click)="
                    bigImage(
                      amazonImgUrl + detailHiring?.customer?.avatar?.value
                    )
                  ">
                    <img alt="100x100" class="object-fit d-flex mr-3 bg-primary rounded-circle" src="{{ amazonImgUrl }}{{
                      detailHiring?.customer?.avatar?.value
                    }}" onerror="src='../../../assets/img/gallery/1.jpg'">
                  </a>
                  <div class="media-body" >
                    <h5 class="font-weight-normal"><a target="_blank" [routerLink]="[
                      '/customers/custdetail',
                      detailHiring?.customer?._id
                    ]">{{ detailHiring?.customer?.name }}</a></h5>
                    <p><span>Cell No:</span><span class="ml-3 text-secondary">{{ detailHiring?.customer?.mobile }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2 py-3 bg-light">
              <div class="col-sm-6"><span *ngIf="detailHiring && !detailHiring?.bellboy" class="text-orange">Not Assigned Yet</span>
              </div>
              <div class="col-sm-6 text-right" >
                <a target="_blank" class="text-dark" [routerLink]="[
                '/bellboy/bellboydetail',
                detailHiring?.bellboy?._id
              ]">
                  <h5 class="font-weight-500">Assigned Bellboy</h5>
                </a>
              </div>
              <div class="col-sm-12">
                <div class="media align-items-center text-right">
                  <div class="media-body" >
                    <h5 class="font-weight-normal"><a class="text-primary" target="_blank" [routerLink]="[
                      '/bellboy/bellboydetail',
                      detailHiring?.bellboy?._id
                    ]">{{ detailHiring?.bellboy?.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                    <p class="mb-0"><span>Cell No:</span><span class="ml-3 text-secondary">{{ detailHiring?.bellboy?.mobile }}</span>
                    </p>
                  </div>
                  <a (click)="
                    bigImage(
                      amazonImgUrl + detailHiring?.bellboy?.avatar?.value
                    )
                  ">
                    <img alt="100x100" class="object-fit d-flex mr-3 bg-primary rounded-circle" src="{{ amazonImgUrl }}{{
                      detailHiring?.bellboy?.avatar?.value
                    }}" onerror="src='../../../assets/img/gallery/1.jpg'">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div *ngIf="detailHiring?.status !== 1" [perfectScrollbar] class="card chat-card box-warning direct-chat direct-chat-warning">
        <!-- /.box-header -->
        <div class="card-body">
          <h5 class="font-weight-500">Chatting</h5>
          <!-- Conversations are loaded here -->
          <div *ngIf="chat?.length == 0" class="no-chat">No Conversation Yet</div>
          <div class="direct-chat-messages" *ngFor="let item of chat">
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg" *ngIf="item.from == 'customer'">
              <div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">{{ detailHiring?.customer?.name }}</span>
              </div>
              <!-- /.direct-chat-info -->
              <img class="direct-chat-img" src="{{amazonImgUrl}}{{detailHiring?.customer?.avatar?.value}}" onerror="src='../../../assets/img/gallery/1.jpg'" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text"><span *ngIf="item.type == 0">{{ item.content }}</span>
                <audio controls *ngIf="item.type == 4">
                  <source src="{{item.content}}" type="audio/mp3">
                    <source src="{{item.content}}" type="audio/m4a">Your browser does not support the audio element.
                </audio>
                <div class="text-center">
                  <img class="fire-img" (click)="bigImage(item.content)" *ngIf="item.type == 1" src="{{ item.content }}" alt="">
                </div>
                <!-- <ng-container *ngTemplateOutlet="item.type==3?chatMap:false; context:item.content"></ng-container> -->
                <div *ngIf="item.type === 3" [appShowMap]="item.content" id="chatMap" class="chatMap"></div>
                <small>{{+item.timestamp | date:'shortTime'}} {{item.type === 3}}</small>
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message to the right -->
            <div class="direct-chat-msg right" *ngIf="item.from == 'bellboy'">
              <div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">{{detailHiring?.bellboy.name}}</span>
              </div>
              <!-- /.direct-chat-info -->
              <img class="direct-chat-img" src="{{amazonImgUrl}}{{detailHiring?.bellboy?.avatar?.value}}" onerror="src='../../../assets/img/gallery/1.jpg'" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                <span *ngIf="item.type == 0">{{ item.content }}</span>
                <audio controls *ngIf="item.type == 4">
                  <source src="{{item.content}}" type="audio/mp3">
                    <source src="{{item.content}}" type="audio/m4a">Your browser does not support the audio element.
                </audio>
                <div class="text-center">
                  <img class="fire-img" (click)="bigImage(item.content)" *ngIf="item.type == 1" src="{{ item.content }}" alt="">
                </div>
                <ng-container *ngTemplateOutlet="item.type==3?chatMap:false; context:item.content"></ng-container>
                <small>{{+item.timestamp | date:'shortTime'}}</small>
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
          </div>
          <!--/.direct-chat-messages-->
        </div>
        <!-- /.box-body -->
      </div>
      <div *ngIf="detailHiring?.status == 1" class="card" style="height: 410.75px" [perfectScrollbar]>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="card-title">Available Bellboy</h4>
                <br>
              </div>
              <div class="col-sm-12">
                <div class="row-area px-2">
                  <div style="height: 295px">
                    <div *ngFor="let item of bellboys" class="row align-items-center mb-2">
                      <div class="col-sm-5">
                        <div class="media">
                          <img class="table-img-size" src="{{ amazonImgUrl }}{{ item.avatar?.value }}">
                          <div class="media-body">
                            <article class="font-weight-500">{{ item.name }}</article><small>{{ item.mobile }}</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-7 text-center">
                        <button class="btn btn-orange mx-1" (click)="trackBellboy(item._id, map)">Track Bellboy</button>
                        <button class="btn btn-success mx-1" (click)="assignBellboy(item._id)">Assign Bellboy</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-ride-detail *ngIf="hiringType=='ride'" [detailHiring]="detailHiring"></app-ride-detail>
<div class="row" *ngIf="hiringType !== 'ride'" myMatchHeight="card">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <h5 class="font-weight-500 mb-2">Hiring Detail ( Id# &nbsp;<small>{{ detailHiring?.hiring_id }}</small>)</h5>
            </div>
            <div class="col-sm-4 text-right"><span>Status: </span><span class="text-orange">{{ detailHiring?.status | hiringStatus }}</span>
            </div>
            <div class="col-sm-12" *ngIf="detailHiring?.status == 5">
              <p><span class="font-weight-normal">Cancelled Reason: </span><span class="text-secondary ml-3">{{ detailHiring?.cancellation_reason }}</span>
              </p>
            </div>
          </div>
          <div class="row row-area" [ngClass]="detailHiring?.isFree ? 'pt-0' : ''">
            <div *ngIf="detailHiring?.isFree" class="col-12 text-right">
              <img height="30px" width="30px" src="../../../../../../assets/img/ico/free.svg">
            </div>
            <div class="col-sm-6">
              <p><span>Order Date: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.created_at | date: "mediumDate" }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Order Time: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.created_at | date: "mediumTime" }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Start Date: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.start_time | date: "mediumDate" }},</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Start Time: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.start_time | date: "mediumTime" }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p *ngIf="detailHiring?.status == 4"><span>End Date: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.end_time | date: "mediumDate" }}</span>
              </p>
              <p *ngIf="detailHiring?.status == 5"><span>Cancelled Date: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.cancellation_time | date: "mediumDate" }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p *ngIf="detailHiring?.status == 4"><span>End Time: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.end_time | date: "mediumTime" }}</span>
              </p>
              <p *ngIf="detailHiring?.status == 5"><span>Cancelled Time: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.cancellation_time | date: "mediumTime" }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Order Type: &nbsp;</span>  <span class="text-secondary"> {{getOrderType()}} </span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Price Per Min: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.price_per_min }} /-Rs</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Total Distance: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.totalDistance | number: "1.0-2" }}</span>  <span class="text-secondary">km</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Total Time Spent: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.totalTime | timeConvert }}</span>
              </p>
            </div>
            <div class="col-sm-6" *ngIf="detailHiring?.status !== 1 &&detailHiring?.status !== 2 && detailHiring?.status !== 3">
              <p><span>Paid By Wallet: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.paidByWallet }}</span>
              </p>
            </div>
            <div class="col-sm-6" *ngIf="detailHiring?.status == 4">
                <p><span>Bellboy Earning: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.bellboyEarning }}/- Rs</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Paid By Cash: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.paidByCash}}</span>  <span class="text-secondary">/- Rs</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Actual Bill: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.totalBill }}/- Rs</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Bill Time: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.billingTime | date:'mediumTime'}}</span>  <span class="text-secondary"></span>
              </p>
            </div>
            <div class="col-sm-6">
              <p><span>Paid By Customer: &nbsp;</span>  <span class="text-secondary">{{ detailHiring?.charges?.totalBillShowToCustomer | number }}/- Rs</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="card-body mb-0">
          <div class="row mb-3 justify-content-center">
            <div class="col-sm-12">
              <h5 class="font-weight-500">Actions</h5>
            </div>
            <div class="col-sm-12">
              <div *ngFor="let item of detailHiring?.actions; let i = index" class="row align-items-center bg-light1 py-2">
                <div class="col-sm-5">
                  <div *ngFor="let label of item.actionType?.labels"><span class="actionLabel" *ngIf="label.locale?.code == 'en'">{{ label.label }}</span>
                  </div>
                </div>
                <div class="col-sm-4 text-right"><span>Staus: </span><span class="text-orange">{{ item?.status | hiringStatus }}</span>
                </div>
                <div class="col-sm-3 text-right">
                  <a (click)="showDetail(item._id, i)">
                    <button id="{{ i }}" class="btn btn-orange">View Detail</button>
                  </a>
                </div>
                <div id="{{ item._id }}" hidden="true" class="col-sm-12 mt-2">
                  <div class="row m-0 v-detail mb-2 py-2">
                    <div class="col-sm-8"><span class="font-weight-bold">Cancellation Status: &nbsp; </span>{{ item.isCancelled ? "Cancelled" : "Not Cancelled" }}</div>
                    <div class="col-sm-4 text-right" *ngIf="item.isCancelled == true"><a><i (click)="cancelledReason()" id="icon" class="ft-eye font-weight-bold"></i></a>
                    </div>
                    <section id="iconDetail" *ngIf="item.isCancelled == true" class="d-none" style="line-height: 2rem">
                      <div class="col-sm-12"><span class="font-weight-bold">Cancelled By: &nbsp; </span><span *ngIf="item.cancelledBy == 1">By Customer</span><span *ngIf="item.cancelledBy == 2">By Bellboy</span>
                      </div>
                      <div class="col-sm-12"><span class="font-weight-bold">Cancellation Reason: &nbsp; </span><span>{{ item.cancellationReason }}</span>
                      </div>
                    </section>
                    <div class="col-sm-12 mt-2">
                      <h6 class="font-weight-bold">Instructions:</h6>
                    </div>
                    <div class="col-sm-12">
                      <p>{{ item.instruction }}</p>
                    </div>
                    <div class="col-sm-6">
                      <h6 class="font-weight-bold">Location:</h6>
                    </div>
                    <div class="col-sm-6 text-right">
                      <button class="btn btn-orange" (click)="open(map, item.location?.geolocation)">View Map</button>
                    </div>
                    <div class="col-sm-12">
                      <p>{{ item.location?.address }}</p>
                    </div>
                    <div class="col-sm-12">
                      <h6 class="font-weight-bold">Refrence Images:</h6>
                    </div>
                    <div *ngFor="let image of item.images" class="col-sm-3 mb-2">
                      <a>
                        <img class="vehicleImage" (click)="bigImage(amazonImgUrl + image)" src="{{ amazonImgUrl }}{{ image }}" onerror="src='../../../../assets/img/ico/bb-brand.jpg'">
                      </a>
                    </div>
                    <div class="col-sm-12">
                      <h6 class="font-weight-bold">Voice Note:</h6>
                    </div>
                    <div class="col-sm-12">
                      <audio class="w-100" src="{{ amazonImgUrl }}{{ item?.voice_note?.value }}" controls></audio>
                    </div>
                    <div class="col-sm-12">
                      <h6 class="font-weight-bold">Bill Images:</h6>
                    </div>
                    <div *ngFor="let image of item.bill_images" class="col-sm-3 mb-2">
                      <a>
                        <img class="vehicleImage" (click)="bigImage(amazonImgUrl + image)" src="{{ amazonImgUrl }}{{ image }}" onerror="src='../../../../assets/img/ico/bb-brand.jpg'">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- customer map is not showing because of pending status has removed -->
        <ng-container *ngTemplateOutlet="detailHiring?.status == 1?customerLocation:false"></ng-container>
        <ng-container *ngTemplateOutlet="detailHiring?.status == 4 || detailHiring?.status == 5?routeHistory:false"></ng-container>
        <!-- <ng-container *ngTemplateOutlet="detailHiring?.status == 2?estimatedRoute:false"></ng-container> -->
        <ng-container *ngTemplateOutlet="detailHiring?.status == 2 || detailHiring?.status == 3?liveTracking:false"></ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #customerLocation>
  <h5 class="font-weight-500 mb-2">Customer Location</h5>
  <div id="custMap"></div>
</ng-template>
<ng-template #liveTracking>
  <div class="row">
    <div class="col-sm-6 border-right">
      <h5 class="font-weight-500 mb-2">Route b/w Customer & Bellboy</h5>
      <div id="estMap" style="height: 300px; overflow: none;"></div>
    </div>
    <div class="col-sm-6">
      <h5 class="font-weight-500 mb-2">Bellboy Live Tracking</h5>
      <p *ngIf="detailHiring.start_time">
        <span>Spending Time: &nbsp;</span> <span id="stopWatch" class="text-secondary stopWatch">  </span>
      </p>
      <ng-container *ngTemplateOutlet="destinition && detailHiring.start_time?routeMap:defaultMap"></ng-container>
      <ng-template #routeMap>
        <div id="liveTrackingMap" style="height: 300px; overflow: none;"></div>
      </ng-template>
    </div>
  </div>
</ng-template>
<ng-template #map let-model>
  <div class="modal-header d-flex justify-content-end pb-0 mb-2"><a class="mb-2"><span class="ft-x text-white" (click)="model.close('Cancel Cick')"></span></a>
  </div>
  <div class="modal-body d-flex justify-content-center pt-0">
    <div id="modelMap" style="height: 300px; overflow: hidden; width: 100%;"></div>
  </div>
</ng-template>
  <app-big-image *ngIf="isBigImg"></app-big-image>
  <ng-template #routeHistory>
    <h5 class="font-weight-500 mb-2">Bellboy Route History</h5>
    <div  id="historyMap" style="height: 300px; overflow: none;">
      <h3 id="noHistory" class="d-none m-auto">No Data Available</h3>
    </div>
  </ng-template>
  <ng-template #defaultMap>
    <div class="no-chat bg-transparent">
      <img src="../../../../assets/img/ico/BB-PNG.png" width="120px" alt="">
      Task is not start
    </div>
  </ng-template>