<ng-template #bigImg let-modal>
  <div class="modal-header d-flex justify-content-end pb-0 mb-2">
    <a class="mb-2 px-2"
      ><span class="ft-minus text-white" (click)="zoomout()"></span
    ></a>
    <a class="mb-2 px-2"
      ><span class="ft-plus text-white" (click)="zoomin()"></span
    ></a>              
    <a class="mb-2 px-2"
      ><span class="ft-x text-white" (click)="closeModal()"></span
    ></a>
  </div>
  <div class="modal-body d-flex justify-content-center pt-0">
    <img
      class="object-fit"
      id="fullView"
      src="{{ currentImage }}"
      onerror="src='../../../../../assets/img/ico/bb-brand.jpg'"
    />
  </div>
</ng-template>
