<section id="tabs">
  <div class="row text-left mb-2 mt-2">
    <div class="col-sm-12 mb-1">
      <h3>Manage Bellboy</h3>
    </div>
    <div class="col-sm-12">
      <div class="position-relative">
        <i class="ft-search child"></i>
        <input type="text" *ngIf="isallBellboy && placeVal == 'Name'" id="SearchBellboy" (keyup)="searchBellboy($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isallBellboy && placeVal == 'Cell No'" id="SearchBellboy" (keyup)="searchBellboyByCell($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isallBellboy && placeVal == 'CNIC'" id="SearchBellboy" (keyup)="searchBellboyByCNIC($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isactiveBellboy && placeVal == 'Name'" id="SearchBellboy" (keyup)="searchActive($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isactiveBellboy && placeVal == 'Cell No'" id="SearchBellboy" (keyup)="searchActiveByCell($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isactiveBellboy && placeVal == 'CNIC'" id="SearchBellboy" (keyup)="searchActiveByCNIC($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="ispendingBellboy && placeVal == 'Name'" id="SearchBellboy" (keyup)="searchPending($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="ispendingBellboy && placeVal == 'Cell No'" id="SearchBellboy" (keyup)="searchPendingByCell($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="ispendingBellboy && placeVal == 'CNIC'" id="SearchBellboy" (keyup)="searchPendingByCNIC($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isrejBellboy && placeVal == 'Name'" id="SearchBellboy" (keyup)="searchRejected($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isrejBellboy && placeVal == 'Cell No'" id="SearchBellboy" (keyup)="searchRejectedByCell($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isrejBellboy && placeVal == 'CNIC'" id="SearchBellboy" (keyup)="searchRejectedByCNIC($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isblBellboy && placeVal == 'Name'" id="SearchBellboy" (keyup)="searchRejected($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isblBellboy && placeVal == 'Cell No'" id="SearchBellboy" (keyup)="searchRejectedByCell($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
        <input type="text" *ngIf="isblBellboy && placeVal == 'CNIC'" id="SearchBellboy" (keyup)="searchRejectedByCNIC($event.target.value)" class="form-control placeholder-pad w-33" placeholder="Search by {{ placeVal }}" />
      </div>
      <div class="inputs-group">
        <div>
          <input type="radio" name="selectType" (change)="placeVal = $event.target.value" class="radio-check" checked id="id1" value="Name" />
          <label class="label-radio" for="id1">Search by Name</label>
        </div>
        <div>
          <input type="radio" name="selectType" (change)="placeVal = $event.target.value" class="radio-check" id="id2" value="Cell No" />
          <label class="label-radio" for="id2">Search by Cell No</label>
        </div>
        <div>
          <input type="radio" name="selectType" (change)="placeVal = $event.target.value" class="radio-check" id="id3" value="CNIC" />
          <label class="label-radio" for="id3">Search by CNIC</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="ActiveBellboy()">
                    Active
                  </div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cell no</th>
                        <th>CNIC</th>
                        <th>Online Status</th>
                        <th>Total Working Hours</th>
                        <th>Total Hirings</th>
                        <th>Block</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedBellboyA">
                        <td class="image-td">
                          <div (click)="bigImage(amazonImgUrl + item.avatar.value)">
                            <a>
                              <img src="{{ amazonImgUrl }}{{ item.avatar.value }}" alt="img" class="table-img-size" />
                            </a>
                          </div>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.mobile }}</td>
                        <td>{{ item.legals.nic.value }}</td>
                        <td>
                          <span *ngIf="item.working_status == false" class="text-error">Offline</span
                          >
                          <span
                            *ngIf="item.working_status == true"
                            class="text-success"
                            >Online</span
                          >
                        </td>
                        <td>
                          {{item.total_working_hours}}
                        </td>
                        <td>
                          {{item.total_hirings}}
                        </td>
                        <td>
                          <a (click)="responseApproval(item, '3')">
                            <button class="btn btn-danger">Block</button>
                          </a>
                        </td>
                        <td>
                          <a
                            class="p-0 text-dark"
                            data-original-title=""
                            title=""
                            [routerLink]="['/bellboy/bellboydetail', item._id]"
                          >
                            <img
                              src="../../../assets/img/ico/eye.png"
                              class="img-eye"
                              alt=""
                            />
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end">
                    <p class="mr-3 d-flex align-items-center">
                      <span
                        class="text-shadow h6 mb-0 font-weight-normal text-orange"
                        >Total Items</span
                      >
                      :
                      <span class="text-secondary ml-2">{{
                        pagedBellboyA?.length
                      }}</span>
                          </p>
                          <nav class="ng2-smart-pagination-nav ng-star-inserted">
                            <ul class="ng2-smart-pagination pagination" *ngIf="pagerA.pages && pagerA.pages.length">
                              <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pagerA.currentPage === 1 }">
                                <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPageA(1)"><span aria-hidden="true">First</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{ disabled: pagerA.currentPage === 1 }"
                        >
                          <a
                            aria-label="Prev"
                            ngbTooltip="Previous"
                            (click)="setPageA(pagerA.currentPage - 10)"
                            class="ng2-smart-page-link page-link page-link-prev"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item ng-star-inserted"
                          *ngFor="let page of pagerA.pages"
                          [ngClass]="{ active: pagerA.currentPage === page }"
                        >
                          <a
                            (click)="setPageA(page)"
                            class="ng2-smart-page-link page-link ng-star-inserted"
                            >{{ page }}</a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerA.currentPage === pagerA.totalPages
                          }"
                        >
                          <a
                            ngbTooltip="Next"
                            (click)="setPageA(pagerA.currentPage + 10)"
                            aria-label="Next"
                            class="ng2-smart-page-link page-link page-link-next"
                            ><span aria-hidden="true">»</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerA.currentPage === pagerA.totalPages
                          }"
                        >
                          <a
                            (click)="setPageA(pagerA.totalPages)"
                            aria-label="Last"
                            class="ng2-smart-page-link page-link"
                            ><span aria-hidden="true">Last</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="PendingBellboy()">
                    Pending
                  </div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cell no</th>
                        <th>CNIC</th>
                        <th>Total Working Hours</th>
                        <th>Total Hirings</th>
                        <th>Actions</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedBellboyP">
                        <td class="image-td">
                          <div
                            (click)="bigImage(amazonImgUrl + item.avatar.value)"
                          >
                            <a>
                              <img
                                src="{{ amazonImgUrl }}{{ item.avatar.value }}"
                                alt="img"
                                class="table-img-size"
                              />
                            </a>
          </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.legals.nic.value }}</td>
          <td>
            {{item.total_working_hours}}
          </td>
          <td>
            {{item.total_hirings}}
          </td>
          <td>
            <a class="mr-2" (click)="responseApproval(item, '1')">
              <button class="btn btn-success">Accept</button>
            </a>
            <a (click)="responseApproval(item, '2')">
              <button class="btn btn-danger">Reject</button>
            </a>
          </td>
          <td>
            <a class="p-0 text-dark" data-original-title="" title="" [routerLink]="['/bellboy/bellboydetail', item._id]">
              <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="" />
            </a>
          </td>
          </tr>
          </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <p class="mr-3 d-flex align-items-center">
              <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span
                      >
                      :
                      <span class="text-secondary ml-2">{{
                        pagedBellboyP?.length
                      }}</span>
            </p>
            <nav class="ng2-smart-pagination-nav ng-star-inserted">
              <ul class="ng2-smart-pagination pagination" *ngIf="pagerP.pages && pagerP.pages.length">
                <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pagerP.currentPage === 1 }">
                  <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPageP(1)"><span aria-hidden="true">First</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{ disabled: pagerP.currentPage === 1 }"
                        >
                          <a
                            aria-label="Prev"
                            ngbTooltip="Previous"
                            (click)="setPageP(pagerP.currentPage - 10)"
                            class="ng2-smart-page-link page-link page-link-prev"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item ng-star-inserted"
                          *ngFor="let page of pagerP.pages"
                          [ngClass]="{ active: pagerP.currentPage === page }"
                        >
                          <a
                            (click)="setPageP(page)"
                            class="ng2-smart-page-link page-link ng-star-inserted"
                            >{{ page }}</a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerP.currentPage === pagerP.totalPages
                          }"
                        >
                          <a
                            ngbTooltip="Next"
                            (click)="setPageP(pagerP.currentPage + 10)"
                            aria-label="Next"
                            class="ng2-smart-page-link page-link page-link-next"
                            ><span aria-hidden="true">»</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerP.currentPage === pagerP.totalPages
                          }"
                        >
                          <a
                            (click)="setPageP(pagerP.totalPages)"
                            aria-label="Last"
                            class="ng2-smart-page-link page-link"
                            ><span aria-hidden="true">Last</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="RejectedBellboy()">
                    Rejected
                  </div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cell no</th>
                        <th>CNIC</th>
                        <th>Total Working Hours</th>
                        <th>Total Hirings</th>
                        <th>Actions</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedBellboyR">
                        <td class="image-td">
                          <div
                            (click)="bigImage(amazonImgUrl + item.avatar.value)"
                          >
                            <a>
                              <img
                                src="{{ amazonImgUrl }}{{ item.avatar.value }}"
                                alt="img"
                                class="table-img-size"
                              />
                            </a>
          </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.legals.nic.value }}</td>
          <td>
            {{item.total_working_hours}}
          </td>
          <td>
            {{item.total_hirings}}
          </td>
          <td>
            <a (click)="responseApproval(item, '0')">
              <button class="btn btn-orange">Move</button>
            </a>
          </td>
          <td>
            <a class="p-0 text-dark" data-original-title="" title="" [routerLink]="['/bellboy/bellboydetail', item._id]">
              <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="" />
            </a>
          </td>
          </tr>
          </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <p class="mr-3 d-flex align-items-center">
              <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span
                      >
                      :
                      <span class="text-secondary ml-2">{{
                        pagedBellboyR?.length
                      }}</span>
            </p>
            <nav class="ng2-smart-pagination-nav ng-star-inserted">
              <ul class="ng2-smart-pagination pagination" *ngIf="pagerR.pages && pagerR.pages.length">
                <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pagerR.currentPage === 1 }">
                  <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPageR(1)"><span aria-hidden="true">First</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{ disabled: pagerR.currentPage === 1 }"
                        >
                          <a
                            aria-label="Prev"
                            ngbTooltip="Previous"
                            (click)="setPageR(pagerR.currentPage - 10)"
                            class="ng2-smart-page-link page-link page-link-prev"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item ng-star-inserted"
                          *ngFor="let page of pagerR.pages"
                          [ngClass]="{ active: pagerR.currentPage === page }"
                        >
                          <a
                            (click)="setPageR(page)"
                            class="ng2-smart-page-link page-link ng-star-inserted"
                            >{{ page }}</a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerR.currentPage === pagerR.totalPages
                          }"
                        >
                          <a
                            ngbTooltip="Next"
                            (click)="setPageR(pagerR.currentPage + 10)"
                            aria-label="Next"
                            class="ng2-smart-page-link page-link page-link-next"
                            ><span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerR.currentPage === pagerR.totalPages
                          }"
                        >
                          <a
                            (click)="setPageR(pagerR.totalPages)"
                            aria-label="Last"
                            class="ng2-smart-page-link page-link"
                            ><span aria-hidden="true">Last</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="BlockedBellboy()">
                    Blocked
                  </div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cell no</th>
                        <th>CNIC</th>
                        <th>Total Working Hours</th>
                        <th>Total Hirings</th>
                        <th>Actions</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedBellboyB">
                        <td class="image-td">
                          <div
                            (click)="bigImage(amazonImgUrl + item.avatar.value)"
                          >
                            <a>
                              <img
                                src="{{ amazonImgUrl }}{{ item.avatar.value }}"
                                alt="img"
                                class="table-img-size"
                              />
                            </a>
          </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.legals.nic.value }}</td>
          <td>
            {{item.total_working_hours}}
          </td>
          <td>
            {{item.total_hirings}}
          </td>
          <td>
            <a (click)="responseApproval(item, '1')">
              <button class="btn btn-success">Unblock</button>
            </a>
          </td>
          <td>
            <a class="p-0 text-dark" data-original-title="" title="" [routerLink]="['/bellboy/bellboydetail', item._id]">
              <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="" />
            </a>
          </td>
          </tr>
          </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <p class="mr-3 d-flex align-items-center">
              <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span
                      >
                      :
                      <span class="text-secondary ml-2">{{
                        pagedBellboyB?.length
                      }}</span>
            </p>
            <nav class="ng2-smart-pagination-nav ng-star-inserted">
              <ul class="ng2-smart-pagination pagination" *ngIf="pagerB.pages && pagerB.pages.length">
                <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pagerB.currentPage === 1 }">
                  <a aria-label="First" ngbTooltip="Previous" class="ng2-smart-page-link page-link" (click)="setPageB(1)"><span aria-hidden="true">First</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{ disabled: pagerB.currentPage === 1 }"
                        >
                          <a
                            aria-label="Prev"
                            ngbTooltip="Previous"
                            (click)="setPageB(pagerB.currentPage - 10)"
                            class="ng2-smart-page-link page-link page-link-prev"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item ng-star-inserted"
                          *ngFor="let page of pagerB.pages"
                          [ngClass]="{ active: pagerB.currentPage === page }"
                        >
                          <a
                            (click)="setPageB(page)"
                            class="ng2-smart-page-link page-link ng-star-inserted"
                            >{{ page }}</a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerB.currentPage === pagerB.totalPages
                          }"
                        >
                          <a
                            ngbTooltip="Next"
                            (click)="setPageB(pagerB.currentPage + 10)"
                            aria-label="Next"
                            class="ng2-smart-page-link page-link page-link-next"
                            ><span aria-hidden="true">»</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pagerB.currentPage === pagerB.totalPages
                          }"
                        >
                          <a
                            (click)="setPageB(pagerB.totalPages)"
                            aria-label="Last"
                            class="ng2-smart-page-link page-link"
                            ><span aria-hidden="true">Last</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="getAllBellBoy()">
                    All Bellboy
                  </div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cell no</th>
                        <th>CNIC</th>
                        <th>Total Working Hours</th>
                        <th>Total Hirings</th>
                        <th>Approval Status</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedBellboy">
                        <td class="image-td">
                          <div
                            (click)="bigImage(amazonImgUrl + item.avatar.value)"
                          >
                            <a>
                              <img
                                src="{{ amazonImgUrl }}{{ item.avatar.value }}"
                                alt="img"
                                class="table-img-size"
                              />
                            </a>
          </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.legals.nic.value }}</td>
          <td>
            {{item.total_working_hours}}
          </td>
          <td>
            {{item.total_hirings}}
          </td>
          <td class="text-orange" *ngIf="item.status == 0">
            Pending
          </td>
          <td class="text-success" *ngIf="item.status == 1">
            Aproved
          </td>
          <td class="text-error" *ngIf="item.status == 2">
            Rejected
          </td>
          <td class="text-error" *ngIf="item.status == 3">
            Blocked
          </td>
          <td>
            <a class="p-0 text-dark" data-original-title="" title="" [routerLink]="['/bellboy/bellboydetail', item._id]">
              <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="" />
            </a>
          </td>
          </tr>
          </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <p class="mr-3 d-flex align-items-center">
              <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span
                      >
                      :
                      <span class="text-secondary ml-2">{{
                        pagedBellboy?.length
                      }}</span>
            </p>
            <nav class="ng2-smart-pagination-nav ng-star-inserted">
              <ul class="ng2-smart-pagination pagination" *ngIf="pager.pages && pager.pages.length">
                <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
                  <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPage(1)"><span aria-hidden="true">First</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{ disabled: pager.currentPage === 1 }"
                        >
                          <a
                            aria-label="Prev"
                            ngbTooltip="Previous"
                            (click)="setPage(pager.currentPage - 10)"
                            class="ng2-smart-page-link page-link page-link-prev"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item ng-star-inserted"
                          *ngFor="let page of pager.pages"
                          [ngClass]="{ active: pager.currentPage === page }"
                        >
                          <a
                            (click)="setPage(page)"
                            class="ng2-smart-page-link page-link ng-star-inserted"
                            >{{ page }}</a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pager.currentPage === pager.totalPages
                          }"
                        >
                          <a
                            ngbTooltip="Next"
                            (click)="setPage(pager.currentPage + 10)"
                            aria-label="Next"
                            class="ng2-smart-page-link page-link page-link-next"
                            ><span aria-hidden="true">»</span></a
                          >
                        </li>
                        <li
                          class="ng2-smart-page-item page-item"
                          [ngClass]="{
                            disabled: pager.currentPage === pager.totalPages
                          }"
                        >
                          <a
                            (click)="setPage(pager.totalPages)"
                            aria-label="Last"
                            class="ng2-smart-page-link page-link"
                            ><span aria-hidden="true">Last</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-big-image *ngIf="isBigImg"></app-big-image>
<ng-template #shimmer>
  <tr *ngIf="spinner">
    <td colspan="12">
      <div class="py-3 shine w-100"></div>
    </td>
  </tr>
</ng-template>