@import '../add-new-bellboy/add-new-bellboy.component.scss';
section>.img-div{
    height: 150px !important;
    width: 100% !important;
    border-radius: unset !important;
}

.prof-img{
    border-radius: unset !important;
}
p{
    margin-bottom: 0%;
}