  <div class="wrapper d-flex" >
    <div class="content">
      <main>
        <div class="container-fluid my-3">
          <div class="row" style="background-color: orange; border-radius: 14px; height: 300px;">
            
            <div class="col-sm-6">
              
                <div class="wrap">
                  <input type="file" class="my_file" onchange="readURL(this);">
                  <img id="blah" src=" images\1.jpg" alt="" />
              </div>

               
              </div>  

            <div class="col-sm-4" style="margin-top: 30px;">
             
                <h3 style="color: green;" > <b>Bellboy</b></h3>
                <h4>Name : Romi </h4>
                <h5>Cell no :+9203204731901 </h5>
                <h5>Joining Date: Jun 14, 2021 </h5>

                <h4>Contact Info</h4>
                  <h5 class="mb-0 d-flex">
                      <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                      <a style="padding-left: 10px;" href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                      <a style="padding-left: 10px;" href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                  </h5>
              </div>
            
                  <div class="col-sm-2" style="margin-top: 40px;">
                      <h5><b>Total Balance : </b></h5>
                             <h4>2345/-</h4>
                                     </div>
  
             
          </div>
        </div>
    </main>
    <br>

      <div class="container">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#all" class="btn" style="border-radius:14px ; height:60; "> <i class="fa fa-home"></i> All</a></li>
           <li><a href="#topup" class="btn" style="border-radius:14px; height:auto;"><i class="fa fa-money"></i> Top Up</a></li>
            <li> <a href="#receivemoney" class="btn" style="border-radius:14px; height:auto;"><i class="fa fa-exchange"></i>  Receive</a></li>
              <li> <a href="#withdrawmoney" class="btn" style="border-radius:14px; height:auto;"> <i class= " fa fa-download"></i> Withdraw</a></li>
              <li> <a href="#sent" class="btn" style="border-radius:14px; height:auto;"> <i class= "fa fa-money"></i> Sent</a></li>
              <li> <a href="#commission" class="btn" style="border-radius:14px; height:auto;"> <i class= "fa fa-money"></i> Commission</a></li>
              <li> <a href="#bonues" class="btn" style="border-radius:14px; height:auto;"> <i class= "fa fa-money"></i> Bonues</a></li>
          
              <li><a href="" class="img" style=" height:auto;" ><img src="images\icons8-calendar (1).gif"  alt="" style="width: 50px; margin-left: 50px;"/></a></li>
</ul> 

            </div>
      <!------All-->
      <div class="tab-content">
        <div class="tab-pane active " id="all">
          <div class="row">
            <div class="col-md-12">
              <div class="well">
               </div>
              </div>
            </div>
          </div>
        </div>
        <!--------end--------->
        <!-----------Topup--------->
        <div class="tab-pane" id="topup">
          <div class="tab-content">
            
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Top Up</th>
                            <th>Balance</th>
                           
              
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>28-6-2021</td>
                            <td>12:34</td>
                            <td>2345</td>
                            <td>350</td>
                            
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                     
</div>
</div>
</div>
</div>
<!---------end ----------->
<!-------------Receive Money------------>
        <div class="tab-pane" id="receivemoney">
          <div class="tab-content">
            
            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Date </th>
                          <th>Time</th>
                          <th>Order id</th>
                          <th>Customer Phone</th>
                          <th>Customer Name</th>
                          <th>Receive</th>
                          <th>Balance</th>
                          
            
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>28-06-2021</td>
                          <td>12:34</td>
                          <td>1</td>
                          <td>0334-8764356</td>
                          <td>helo</td>
                          <td>cash</td>
                          <td>1234</td>
                         </tr>
                      </tbody>
                    </table>
                  </div>
              
        </div>
        </div>
        </div>
        </div>
      </div>
      <!---------end ---------->

      <!-----Withdraw-------->
        <div class="tab-pane" id="withdrawmoney">
          <div class="tab-content">
            
            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Withdraw</th>
                          <th>Balance</th>
                              </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>28-06-2021</td>
                          <td>12:38</td>
                          <td>234</td>
                          <td>359</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
             </div>
            </div>
         </div>
        </div>
      <!-------end-------->

       <!-------commission ------------------->
    <div class="tab-pane" id="commission">
          <div class="tab-content">
            
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Order Id</th>
                            <th>Actual Amount </th>
                            <th>Commission</th>
                            <th>Bonues</th>
                            <th>Balance</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>28-6-2021</td>
                            <td>12:34</td>
                            <td>1</td>
                            <td>12</td>
                            <td>1.20</td>
                            <td>120</td>
                            <td>350</td>
            
                            
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                   </div> 
                 </div> 
              </div>        
            </div>

        </div>
<!-------end ------------->
<!-------SEnt section ------------->

    <div class="tab-pane" id="sent">
      <div class="tab-content">
         <div class="row">
            <div class="col-md-12">
              <div class="well">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Order id </th>
                        <th>Customer Phone</th>
                        <th>Customer Name</th>
                        <th>Sent</th>
                        <th>Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>28-6-2021</td>
                        <td>12:34</td>
                        <td>1</td>
                        <td>0334-9876543</td>
                        <td>helo</td>
                        <td>350</td>
                        <td>2345</td>
                       
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
<!-------end  sent ----------->
<!----------Bonues--------->
<div class="tab-pane" id="bonues">
<div class="tab-content">
  
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Target</th>
                  <th>Bonues</th>
                  <th>Balance</th>
                 
    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>28-6-2021</td>
                  <td>12:34</td>
                  <td></td>
                  <td>60</td>
                  <td>350</td>
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
           
</div>
</div>
</div>
</div>
<!---------end ----------->
