
.bg-mattBlackLight {
    background-color:orange;
  }
  
  .text-mattBlackLight {
    color:white;
  }
  
  .bg-mattBlackDark, body, .nav-link:hover, .nav-link.active {
    background-color: white;
  }
  
  .text-mattBlackDark {
    color: white;
  }
  
  .bg-mattGray {
    background-color: orange;
  }
  
  .text-mattGray, body, .nav-link .icon, .nav-link .text {
    color:white;
  }
  
  .bg-mattRed {
    background-color: #ec6271;
  }
  
  .text-mattRed, .nav-link:hover .icon,
  .nav-link:hover .text, .nav-link.active .icon,
  .nav-link.active .text {
    color: #ec6271;
  }
  
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 1000px;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    margin-top: 3.5rem;
  }
  
  .wrapper .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 3.5rem auto auto;
    left: 0;
    width: 12.5rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 2000;
  }
  
  .wrapper .content {
    width: 100%;
    margin-left: 0rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  
  .wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  .nav-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    white-space: nowrap;
  }
  
  .nav-link .icon {
    margin-right: 0.25rem;
    font-size: 1.875rem;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav-link .text {
    font-size: 0.875rem;
  }
  
  @media (min-width: 992px) {
    .wrapper .sideMenu {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    .wrapper .content {
      margin-left: 12.5rem;
    }
    .wrapper.active .sideMenu {
      width: 5rem;
    }
    .wrapper.active .sideMenu .nav-link {
      text-align: center;
    }
    .wrapper.active .sideMenu .nav-link .icon {
      margin-right: 0;
    }
    .wrapper.active .sideMenu .nav-link .text {
      display: none;
    }
    .wrapper.active .content {
      margin-left: 5rem;
    }
  }
  
  html{
    margin: 20px 10px auto;
    font-family: arial,sans-serif;
  } 
  
  
  
  
  .nav li {
    list-style: none outside none;
    float: left;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
  }
  
  
  
  .nav a {
    float: left;
    /* padding: 5px 30px; */
    /* text-decoration: none; */
    color:rgb(168, 164, 164);
    
    border-radius: 10px 10px 0 0;
    
  }
  
  
  
  
  .tab-content {
    /* background:orange; */
    color:white;
    padding:20px;
  }
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .wrap
        {
          height: 250px;
          width: 250px;
          position: relative;
          border:5px solid #fff;
          border-radius: 50%;
          /* background-size: 100% 100%; */
          overflow: hidden;
          /* margin: 60px auto; */
          margin-bottom:10px;
          margin-top: 20px;
          margin-left: 15px;
      
        }
  .my_file 
        {
          position: absolute;
          bottom: 0;
          outline: none;
          color: transparent;
          width: 40%;
          box-sizing: border-box;
          padding: 15px 120px;
          cursor: pointer;
          transition: 0.5s;
          /* background: rgba(0,0,0,0.5); */
          opacity: 0;
   }
  
   .my_file::-webkit-file-upload-button
   {
     visibility: hidden;
   }
  
  .my_file::before
   {
     content: '\f030';
     font-family: fontAwesome;
     font-size: 50px;
     color:black;
     display: block;
     
   }
   .my_file::after
   {
     content: '';
     font-family: 'arial';
     font-weight: bold;
     color: #fff;
     display: block;
     top: 70px;
     font-size: 14px;
     position:absolute;
   }
   .my_file:hover
   {
     opacity: 1;
   }
  
  img{
   
  }
  input[type=file]{
  padding:30px;
  /* background:orange; */
  }
  
  
  /* button */
  .btn {
    border: 1px solid rgb(240, 173, 5);
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    padding-inline-end: 30px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:orange;
  }