<section id="tabs">
  <div class="row text-left mb-2 mt-2">
    <div class="col-sm-12 mb-1">
      <h3>Manage Vehicles</h3>
    </div>
    <div class="col-sm-12">
      <div class="position-relative">
        <i class="ft-search child"></i>
        <input type="text" *ngIf="placeVal=='Number'" (keyup)="searchByNumber($event.target.value)" id="searchInput" class="form-control placeholder-pad w-33" placeholder="Search By {{placeVal}}">
        <input type="text" *ngIf="placeVal=='Model'" (keyup)="searchByModel($event.target.value)" id="searchInput" class="form-control placeholder-pad w-33" placeholder="Search By {{placeVal}}">
        <input type="text" *ngIf="placeVal=='Brand'" (keyup)="searchByBrand($event.target.value)" id="searchInput" class="form-control placeholder-pad w-33" placeholder="Search By {{placeVal}}">
        <input type="text" *ngIf="placeVal=='Bellboy'" (keyup)="searchByBellboy($event.target.value)" id="searchInput" class="form-control placeholder-pad w-33" placeholder="Search By {{placeVal}}">
      </div>
      <div class="inputs-group">
        <div>
          <input type="radio" name="selectType" (change)="placeVal=$event.target.value" class="radio-check" checked id="id1" value="Number">
          <label class="label-radio" for="id1">Search by Number</label>
        </div>
        <div>
          <input type="radio" name="selectType" (change)="placeVal=$event.target.value" class="radio-check" id="id2" value="Model">
          <label class="label-radio" for="id2">Search by Model</label>
        </div>
        <div>
          <input type="radio" name="selectType" (change)="placeVal=$event.target.value" class="radio-check" id="id3" value="Brand">
          <label class="label-radio" for="id3">Search by Brand</label>
        </div>
        <div>
          <input type="radio" name="selectType" (change)="placeVal=$event.target.value" class="radio-check" id="id4" value="Bellboy">
          <label class="label-radio" for="id4">Search by Bellboy</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-left">
    <!--Pills Starts-->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tabTitle='all';getVehicles();">All</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Number</th>
                        <th>Bellboy</th>
                        <th>Cell no</th>
                        <th>View / Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedItems">
                        <td>{{item?.vehicleType?.title}}</td>
                        <td>{{item?.vehicleBrand?.title}}</td>
                        <td>{{item?.vehicleModel?.title}}</td>
                        <td>{{item?.plate?.plate_number}}</td>
                        <td>{{item?.bellboy?.name}}</td>
                        <td>{{item?.bellboy?.mobile}}</td>
                        <td>
                          <a class="p-0 text-dark" [routerLink]="['/managevehicle/vehicleDetail', item._id]">
                            <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end">
                    <p class="mr-3 d-flex align-items-center">
                      <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span> :
                      <span class="text-secondary ml-2">{{tempArr?.length}}</span>
                    </p>
                    <nav class="ng2-smart-pagination-nav ng-star-inserted">
                      <ul class="ng2-smart-pagination pagination" *ngIf="pager.pages && pager.pages.length">
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPage(1)">
                            <span aria-hidden="true">First</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="Prev 5" ngbTooltip="Previous" (click)="setPage( pager.currentPage - 5)" class="ng2-smart-page-link page-link page-link-prev">
                            <span aria-hidden="true">«</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item ng-star-inserted" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage( page)" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}</a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a ngbTooltip="Next 5" (click)="setPage( pager.currentPage + 5)" aria-label="Next" class="ng2-smart-page-link page-link page-link-next">
                            <span aria-hidden="true">»</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage( pager.totalPages)" aria-label="Last" class="ng2-smart-page-link page-link">
                            <span aria-hidden="true">Last</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tabTitle='pending';getPending()">Pending</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Number</th>
                        <th>Bellboy</th>
                        <th>Cell no</th>
                        <th>Action</th>
                        <th>View / Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedItems">
                        <td>{{item?.vehicleType?.title}}</td>
                        <td>{{item?.vehicleBrand?.title}}</td>
                        <td>{{item?.vehicleModel?.title}}</td>
                        <td>{{item?.plate?.plate_number}}</td>
                        <td>{{item?.bellboy?.name}}</td>
                        <td>{{item?.bellboy?.mobile}}</td>
                        <td>
                          <a>
                            <i placement="top" (click)="approveVehicle(item._id, 1)" ngbTooltip="Approve" class="ft-power text-success"></i>
                          </a>
                        </td>
                        <td>
                          <a class="p-0 text-dark" [routerLink]="['/managevehicle/vehicleDetail', item._id]">
                            <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end">
                    <p class="mr-3 d-flex align-items-center">
                      <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span> :
                      <span class="text-secondary ml-2">{{tempArr?.length}}</span>
                    </p>
                    <nav class="ng2-smart-pagination-nav ng-star-inserted">
                      <ul class="ng2-smart-pagination pagination" *ngIf="pager.pages && pager.pages.length">
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPage(1)">
                            <span aria-hidden="true">First</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="Prev" ngbTooltip="Previous" (click)="setPage( pager.currentPage - 10)" class="ng2-smart-page-link page-link page-link-prev">
                            <span aria-hidden="true">«</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item ng-star-inserted" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage( page)" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}</a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a ngbTooltip="Next" (click)="setPage( pager.currentPage + 10)" aria-label="Next" class="ng2-smart-page-link page-link page-link-next">
                            <span aria-hidden="true">»</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage( pager.totalPages)" aria-label="Last" class="ng2-smart-page-link page-link">
                            <span aria-hidden="true">Last</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tabTitle='approved';getApproved()">Approved</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Number</th>
                        <th>Bellboy</th>
                        <th>Cell no</th>
                        <th>Action</th>
                        <th>View / Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="shimmer"></ng-container>
                      <tr *ngFor="let item of pagedItems">
                        <td>{{item?.vehicleType?.title}}</td>
                        <td>{{item?.vehicleBrand?.title}}</td>
                        <td>{{item?.vehicleModel?.title}}</td>
                        <td>{{item?.plate?.plate_number}}</td>
                        <td>{{item?.bellboy?.name}}</td>
                        <td>{{item?.bellboy?.mobile}}</td>
                        <td>
                          <a>
                            <i placement="top" ngbTooltip="Cancel Approval" (click)="approveVehicle(item._id, 0)" class="ft-power text-error"></i>
                          </a>
                        </td>
                        <td>
                          <a class="p-0 text-dark" [routerLink]="['/managevehicle/vehicleDetail', item._id]">
                            <img src="../../../assets/img/ico/eye.png" class="img-eye" alt="">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end">
                    <p class="mr-3 d-flex align-items-center">
                      <span class="text-shadow h6 mb-0 font-weight-normal text-orange">Total Items</span> :
                      <span class="text-secondary ml-2">{{tempArr?.length}}</span>
                    </p>
                    <nav class="ng2-smart-pagination-nav ng-star-inserted">
                      <ul class="ng2-smart-pagination pagination" *ngIf="pager.pages && pager.pages.length">
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPage(1)">
                            <span aria-hidden="true">First</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                          <a aria-label="Prev" ngbTooltip="Previous" (click)="setPage( pager.currentPage - 10)" class="ng2-smart-page-link page-link page-link-prev">
                            <span aria-hidden="true">«</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item ng-star-inserted" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage( page)" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}</a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a ngbTooltip="Next" (click)="setPage( pager.currentPage + 10)" aria-label="Next" class="ng2-smart-page-link page-link page-link-next">
                            <span aria-hidden="true">»</span>
                          </a>
                        </li>
                        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage( pager.totalPages)" aria-label="Last" class="ng2-smart-page-link page-link">
                            <span aria-hidden="true">Last</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
    <!--Pills Ends-->
  </div>
</section>
<!-- addbrand -->
<ng-template #shimmer>
  <tr *ngIf="spinner">
    <td colspan="12">
      <div class="py-3 shine w-100"></div>
    </td>
  </tr>
</ng-template>