<section id="tabs">
  <div class="row text-left mb-2 mt-2">
    <div class="col-sm-12 mb-0">
      <h3 class="mb-0">{{category}} {{category==undefined?'Rider':''}} Charges</h3>
    </div>
  </div>
  <div class="row text-left">
    <!--Pills Starts-->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ul class="nav nav-pills" role="tablist" *ngIf="category == 'B2B' || category=='Personal Assistance'">
              <li class="nav-item" role="presentation">
                <a class="nav-link p-0 active" id="formula-tab" data-toggle="tab" href="#formula" role="tab" aria-controls="formula" aria-selected="true">
                  <div class="tab-padding">Formula</div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link p-0" id="perminut-tab" data-toggle="tab" href="#perminut" role="tab" aria-controls="perminut" aria-selected="false">
                  <div class="tab-padding">Per Minute</div>
                </a>
              </li>
            </ul>
            <div class="tab-content" id="tabContent">
              <div class="tab-pane fade show active" id="formula" role="tabpanel" aria-labelledby="rider-tab">
                <ng-container *ngTemplateOutlet="tableComp"></ng-container>
              </div>
              <div class="tab-pane fade" id="perminut" role="tabpanel" aria-labelledby="perminut-tab">
                <!-- <ng-container *ngTemplateOutlet="tableComp"></ng-container> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pills Ends-->
  </div>
</section>
<ng-template #tableComp>
  <table class="table table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th>Charges</th>
        <th>Walker</th>
        <th>Cycle</th>
        <th>Bike</th>
        <th>Car</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Service Charges</td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input value="{{hiringCharges.service?.walker?.value}}" class="input1 form-control text-center">
            </span>
            <a><i id="icon1" (click)="changeDisable('input1', 'icon1', 'confirm1')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm1">
              <a><i (click)="updateCharges('input1','confirm1','icon1',hiringCharges.service.charges_type,hiringCharges.service.walker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input1','confirm1','icon1',hiringCharges.service.walker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input value="{{hiringCharges.service?.cycler?.value}}" class="input2 form-control text-center">
            </span>
            <a><i id="icon2" (click)="changeDisable('input2','icon2', 'confirm2')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm2">
              <a><i (click)="updateCharges('input2','confirm2','icon2',hiringCharges.service.charges_type,hiringCharges.service.cycler)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input2','confirm2','icon2',hiringCharges.service.cycler)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input value="{{hiringCharges.service?.biker?.value}}" class="input3 form-control text-center">
            </span>
            <a id="icon3" class="mr-m20">
              <i (click)="changeDisable('input3','icon3', 'confirm3')" class="ml-2 ft-edit-2 font-weight-bold"></i>
              <i id="viewIcon" (click)="singleId=hiringCharges.service.charges_type; open(viewTimeLine)" ngbTooltip="View Timeline" class="ml-2 ft-eye font-weight-bold"></i>
            </a>
            <a id="confirm3" class="mr-m20">
              <i (click)="updateCharges('input3','confirm3','icon3',hiringCharges.service.charges_type,hiringCharges.service.biker)" class="ml-2 text-success ft-check font-weight-bold"></i>
              <i (click)="crossClick('input3','confirm3','icon3',hiringCharges.service.biker)" class="ml-2 ft-x text-error font-weight-bold"></i>
            </a>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input value="{{hiringCharges.service?.car?.value}}" class="input4 form-control text-center">
            </span>
            <a><i id="icon4" (click)="changeDisable('input4','icon4', 'confirm4')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm4">
              <a><i (click)="updateCharges('input4','confirm4','icon4',hiringCharges.service.charges_type,hiringCharges.service.car)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input4','confirm4','icon4',hiringCharges.service.car)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fuel Charges</td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.fuel?.walker?.value" class="input5 form-control text-center">
            </span>
            <a><i id="icon5" (click)="changeDisable('input5','icon5', 'confirm5')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm5">
              <a><i (click)="updateCharges('input5','confirm5','icon5',hiringCharges.fuel.charges_type,hiringCharges.fuel?.walker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input5','confirm5','icon5',hiringCharges.fuel.walker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.fuel?.cycler?.value" class="input6 form-control text-center">
            </span>
            <a><i id="icon6" (click)="changeDisable('input6','icon6', 'confirm6')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm6">
              <a><i (click)="updateCharges('input6','confirm6','icon6',hiringCharges.fuel.charges_type,hiringCharges.fuel?.cycler)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input6','confirm6','icon6',hiringCharges.fuel.cycler)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.fuel?.biker?.value" class="input7 form-control text-center">
            </span>
            <a><i id="icon7" (click)="changeDisable('input7','icon7', 'confirm7')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm7">
              <a><i (click)="updateCharges('input7','confirm7','icon7',hiringCharges.fuel.charges_type,hiringCharges.fuel?.biker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input7','confirm7','icon7',hiringCharges.fuel.biker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.fuel?.car?.value" class="input8 form-control text-center">
            </span>
            <a><i id="icon8" (click)="changeDisable('input8','icon8', 'confirm8')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm8">
              <a><i (click)="updateCharges('input8','confirm8','icon8',hiringCharges.fuel.charges_type,hiringCharges.fuel?.car)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input8','confirm8','icon8',hiringCharges.fuel.car)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Time Cost</td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.time?.walker?.value" class="input9 form-control text-center">
            </span>
            <a><i id="icon9" (click)="changeDisable('input9','icon9', 'confirm9')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm9">
              <a><i (click)="updateCharges('input9','confirm9','icon9',hiringCharges.time.charges_type,hiringCharges.time.walker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input9','confirm9','icon9',hiringCharges.time.walker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.time?.cycler?.value"  class="input10 form-control text-center">
            </span>
            <a><i id="icon10" (click)="changeDisable('input10','icon10', 'confirm10')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm10">
              <a><i (click)="updateCharges('input10','confirm10','icon10',hiringCharges.time.charges_type,hiringCharges.time.cycler)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input10','confirm10','icon10',hiringCharges.time.cycler)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.time?.biker?.value"  class="input11 form-control text-center">
            </span>
            <a><i id="icon11" (click)="changeDisable('input11','icon11', 'confirm11')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm11">
              <a><i (click)="updateCharges('input11','confirm11','icon11',hiringCharges.time.charges_type,hiringCharges.time.biker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input11','confirm11','icon11',hiringCharges.time.biker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.time?.car?.value"  class="input12 form-control text-center">
            </span>
            <a><i id="icon12" (click)="changeDisable('input12','icon12', 'confirm12')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm12">
              <a><i (click)="updateCharges('input12','confirm12','icon12',hiringCharges.time.charges_type,hiringCharges.time.car)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input12','confirm12','icon12',hiringCharges.time.car)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Waiting for Customer Order</td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <span class="w-50">
              <input [value]="hiringCharges.waiting?.walker?.value"  class="input13 form-control text-center">
            </span>
            <a><i id="icon13" (click)="changeDisable('input13','icon13', 'confirm13')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm13">
              <a><i (click)="updateCharges('input13','confirm13','icon13',hiringCharges.waiting.charges_type,hiringCharges.waiting.walker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input13','confirm13','icon13',hiringCharges.waiting.walker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <span class="w-50">
              <input [value]="hiringCharges.waiting?.cycler?.value"  class="input14 form-control text-center">
            </span>
            <a><i id="icon14" (click)="changeDisable('input14','icon14', 'confirm14')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm14">
              <a><i (click)="updateCharges('input14','confirm14','icon14',hiringCharges.waiting.charges_type,hiringCharges.waiting.cycler)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input14','confirm14','icon14',hiringCharges.waiting.cycler)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.waiting?.biker?.value"  class="input15 form-control text-center">
            </span>
            <a><i id="icon15" (click)="changeDisable('input15','icon15', 'confirm15')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm15">
              <a><i (click)="updateCharges('input15','confirm15','icon15',hiringCharges.waiting.charges_type,hiringCharges.waiting.biker)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input15','confirm15','icon15',hiringCharges.waiting.biker)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <span class="w-50">
              <input [value]="hiringCharges.waiting?.car?.value"  class="input16 form-control text-center">
            </span>
            <a><i id="icon16" (click)="changeDisable('input16','icon16', 'confirm16')" class="ml-2 ft-edit-2 font-weight-bold"></i></a>
            <div id="confirm16">
              <a><i (click)="updateCharges('input16','confirm16','icon16',hiringCharges.waiting.charges_type,hiringCharges.waiting.car)" class="ml-2 text-success ft-check font-weight-bold"></i></a>
              <a><i (click)="crossClick('input16','confirm16','icon16',hiringCharges.waiting.car)" class="ml-2 ft-x text-error font-weight-bold"></i></a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #viewTimeLine let-modal>
  <app-view-timeline [testing]="singleId"></app-view-timeline>
</ng-template>