<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <img src="../../../assets/img/ico/SVG/commission.svg" height="25px" alt="">  Bellboy Commission   </h5>
          <div class="py-3">
            <p class="card-text">Current Commission <b class="float-right"> {{bellboyCommission?.value}}%</b></p> 
            <p class="card-text">Title / Purpose <b class="float-right"> {{bellboyCommission?.title}}</b></p> 
            <p class="card-text">Activated By <b class="float-right"> {{bellboyCommission?.admin.name}}</b></p> 
            <p class="card-text">Activated From <b class="float-right"> {{bellboyCommission?.from | date:'mediumDate'}}</b></p> 
          </div>
          <div class="text-center">
            <button type="button" (click)="open(updateBBCommission)" class="btn btn-outline-orange m-auto">Update Commission <i class="ft ft-upload-cloud"> </i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <img src="../../../assets/img/ico/SVG/commission.svg" height="25px" alt="">  Customer Service Charges </h5>
          <div class="py-3">
            <p class="card-text">Current Service Charges  <b class="float-right"> {{customerCommission?.value}}%</b></p>
            <p class="card-text">Title / Purpose <b class="float-right"> {{customerCommission?.title}}</b></p> 
            <p class="card-text">Activated By <b class="float-right"> {{customerCommission?.admin.name}}</b></p> 
            <p class="card-text">Activated From <b class="float-right"> {{customerCommission?.from | date:'mediumDate'}}</b></p> 
          </div>
          <div class="text-center">
            <button type="button" (click)="open(updateCCommission)" class="btn btn-outline-orange m-auto">Update Service Charges <i class="ft ft-upload-cloud"> </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #updateBBCommission let-modal>
    <div class="modal-header">
      <h3 class="m-auto">Update Bellboy Commission</h3>
      <a (click)="modal.close('Cancel Modal')">
        <i class="ft-x close-icon"></i>
      </a>
    </div>
    <div class="modal-body">
      <div [formGroup]="bellboyForm">
        <label>Commission Percentage</label>
        <div class="input-group mb-3">
          <input type="number" [formControl]="bellboyValue" class="form-control" placeholder="Percentage Value" aria-label="Percentage Value" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">%</span>
          </div>
        </div>
        <p *ngIf="bellboyValue.touched" class="text-error">
          <span *ngIf="bellboyValue.hasError('required')">
            Value is required
          </span>
          <span *ngIf="bellboyValue.hasError('min')">
            Value must be greater than zero
          </span>
        </p>
        <div class="form-group">
          <label>Title</label>
          <input placeholder="Title / Purpose" type="text" class="form-control" formControlName="bellboyTitle">
        </div>
        <p *ngIf="bellboyTitle.touched" class="text-error">
          <span *ngIf="bellboyTitle.hasError('required')">
            Title is required
          </span>
        </p>
      </div>
      <button type="button" [disabled]="bellboyForm.invalid" (click)="changeCommission(1)" class="btn btn-outline-orange float-right">Update <i class="ft ft-upload-cloud"> </i></button>
    </div>
  </ng-template>
  <ng-template #updateCCommission let-modal>
    <div class="modal-header">
      <h3 class="m-auto">Update Customer Commission</h3>
      <a (click)="modal.close('Cancel Modal')">
        <i class="ft-x close-icon"></i>
      </a>
    </div>
    <div class="modal-body">
      <div [formGroup]="customerForm">
        <label>Service Charges</label>
        <div class="input-group mb-3">
          <input type="number" [formControl]="customerValue" class="form-control" placeholder="Percentage Value" aria-label="Percentage Value" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">%</span>
          </div>
        </div>
        <p *ngIf="customerValue.touched" class="text-error">
          <span *ngIf="customerValue.hasError('required')">
            Value is required
          </span>
          <span *ngIf="customerValue.hasError('min')">
            Value must be greater than zero
          </span>
        </p>
        <div class="form-group">
          <label>Title</label>
          <input placeholder="Title / Purpose" type="text" class="form-control" formControlName="customerTitle">
        </div>
        <p *ngIf="customerTitle.touched" class="text-error">
          <span *ngIf="customerTitle.hasError('required')">
            Title is required
          </span>
        </p>
      </div>
      <button type="button" [disabled]="customerForm.invalid" (click)="changeCommission(2)" class="btn btn-outline-orange float-right">Update <i class="ft ft-upload-cloud"> </i></button>
    </div>
  </ng-template>