<div #wrapper class="wrapper" [ngClass]="{'nav-collapsed': iscollapsed, 'menu-collapsed': iscollapsed, 'sidebar-sm': isSidebar_sm, 'sidebar-lg': isSidebar_lg}" [dir]="options.direction">
  <div #appSidebar appSidebar class="app-sidebar" (toggleHideSidebar)="toggleHideSidebar($event)" [ngClass]="{'hide-sidebar': hideSidebar}" data-active-color="white" [attr.data-background-color]="bgColor" [attr.data-image]="bgImage">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" #sidebarBgImage></div>
  </div>
  <app-navbar (toggleHideSidebar)="toggleHideSidebar($event)" (directionEvent) = directionEvent($event)></app-navbar>
  <div class="main-panel">
      <div class="main-content">
          <div class="content-wrapper">
            <div class="container-fluid" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
                <router-outlet #o="outlet"></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>