<section>
  <form>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="font-weight-normal">Vehicle Type</h5>
                  <br>
                </div>
                <div class="col-sm-6 text-right">
                  <a (click)="open(addLabel)" class="text-orange">
                    <span class="ft-plus text-dark"></span>
                    <span class="ml-1"> Add Label </span> 
                  </a>
                </div>
                <div class="col-sm-5">
                  <div class="form-group" *ngFor="let item of vehicleTypeDetail?.labels">
                    <input type="text" [(value)]="item.label" readonly class="form-control" placeholder="Vehicle Type">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<ng-template #addLabel let-modal>
  <div class="modal-header justify-content-center">
    <h3 class="card-title mb-0">Add Label</h3>
    <a (click)="modal.close('Cancel Modal')">
      <i class="ft-x close-icon"></i>
    </a>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <select class="form-control">
          <option value="">Select Language</option>
          <option>Urdu</option>
          <option>English</option>
        </select>
      </div>
      <!-- <div class="form-group"  *ngIf="code=='ur' || code=='ar'">
          <input type="text" formControlName="label" class="form-control text-right"  placeholder="لیبل">
      </div> -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Label">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('save')">Add Label</button>
  </div>
</ng-template>