<!--Fullscreen Map Starts-->
<section id="fullscreenMap" class="mt-2">
  <div class="loading-container" *ngIf="spinner">
    <div class="spinner"></div>
  </div>
  <div class="row">
    <div id="mapView" class="col-sm-8 p-0 position-relative">
      <a (click)="maximize()"><i ngbTooltip="Full View" class="ft-maximize"></i></a>
      <div [ngClass]="{'d-none':isSelected}" id="map" style="width: auto; height: 500px; position: relative; overflow: hidden;"></div>
      <div [ngClass]="{'d-none':!isSelected}" id="map2" style="width: auto; height: 500px; position: relative; overflow: hidden;"></div>
    </div>
    <div id="bellboy" class="col-sm-4 p-0">
      <div class="card rounded-0 pb-0 m-0" style="height: 500px;">
        <div class="card-body customeCard">
          <div *ngFor="let item of bellboys" class="row bg-light py-2 rounded align-items-center mb-2">
            <div class="col-sm-12">
              <div class="media" (click)="zoomCurrent(item)">
                <img class="table-img-size" src="{{amazonImgUrl}}{{item.profile?.avatar}}">
                <div class="media-body">
                  <article class="font-weight-500">{{item.profile?.name}}</article>
                  <small>{{item.profile?.mobile}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right border-top">
          <button class="btn btn-orange mt-3 mb-3 mr-2" (click)="resetMap()">Reset Map</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fullscreen Map Ends-->