<section>
  <div id="totalSec">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                <span class="card-title h2" *ngIf="!rangeRecord"><strong>Today Record</strong></span>
                <span *ngIf="rangeRecord"><strong>From: </strong> {{this.startDateforRecord | date:'mediumDate'}} <strong>To: </strong> {{this.endDateforRecord | date:'mediumDate'}} </span>
              </div>
              <div class="col-6 text-right px-3">
                <a (click)="defaults();"> <i class="ft-refresh-cw font-weight-bold" ngbTooltip="Reset" placement="bottom"></i> 
                </a>
                <button (click)="showDatePick('datepicker1')" class="btn btn-orange mx-2">Select Range for Record</button>
              </div>
              <div class="col-12">
                <ngb-datepicker #dp1 id="datepicker1" class="d-none" [maxDate]="today" [markDisabled]="markDisabled" [displayMonths]="1" (dateSelect)="onDateSelection($event)" [dayTemplate]="t1" outsideDays="hidden">
                </ngb-datepicker>
                <ng-template #t1 let-date let-focused="focused" class="template">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null" [ngClass]="{'text-muted': (date.day>today.day) && (date.month === today.month) && (date.year === today.year)}">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="daysData">
            <app-bar-chart [data]="daysData"></app-bar-chart>
          </div>
          <div class="card-body" *ngIf="!daysData">
            <ng-container *ngTemplateOutlet="shimmer"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <span *ngIf="!rangeGraph" class="card-title h2"><strong>Current Week Statistics</strong></span>
              <span *ngIf="rangeGraph"><strong>From: </strong> {{this.startDate | date:'mediumDate'}} <strong>To: </strong> {{this.endDate | date:'mediumDate'}} </span>
            </div>
            <div class="col-sm-6 text-right position-relative">
              <input type="week" (change)="selectWeek($event)" id="week" name="week" class="btn-orange float-right border-0 rounded ml-2" style="
              z-index: 1050;
              width: 100px;">
              <button class="btn btn-orange mr-2 float-right position-absolute ml-2">By Week</button>
              <input type="month" (change)="selectMonth($event)" id="month" name="month" class="btn-orange float-right border-0 rounded" style="
              z-index: 1050;
              width: 100px;">
              <button class="btn btn-orange mr-2 float-right position-absolute">By Month</button>
              <!-- <button (click)="showDatePick('datepicker')" class="btn btn-orange mr-2 float-right">Select Graph Range</button>
              <ngb-datepicker #dp id="datepicker" class="d-none mr-2" style="top:30px" [maxDate]="today" [markDisabled]="markDisabled" [displayMonths]="1" (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden">
              </ngb-datepicker>
              <ng-template #t let-date let-focused="focused" class="template">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null" [ngClass]="{'text-muted': (date.day>today.day) && (date.month === today.month) && (date.year === today.year)}">
                  {{ date.day }}
                </span>
              </ng-template> -->
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="graphData">
          <app-line-chart [data]="graphData" [startDate]="sendStartDate" [endDate]="sendEndDate"></app-line-chart>
        </div>
        <div class="card-body" *ngIf="!graphData">
          <ng-container *ngTemplateOutlet="shimmer"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card  ml-auto mr-auto">
        <div class="card-body">
          <h5 class="font-weight-500 mb-0">{{hiringDetail?.length}}
          <span class="float-right">
            <img height="25px" src="../../../assets/img/ico/confused.png">
          </span></h5>
          <p class="mb-0">{{!rangeRecord?'New':''}} Hirings</p>
          <hr>
          <div style="height: 190px; overflow-y: scroll;">
            <div *ngFor="let item of hiringItems" class="media pt-0 pb-2 align-items-center">
              <div class="actions position-relative">
                <span>{{item.actions}}</span>
              </div>
              <div class="media-body">
                <h4 class="font-medium-1 mb-0">{{item.customer.name}}</h4>
                <small class=" m-0">{{item.hiring_id}}</small>
              </div>
              <div class="media-body">
                <div class="text-right text-dark">
                  <a target="_blank" routerLink="/hiring/hiringDetail/{{item.hiring_id}}">
                    <img src="../../../assets/img/ico/eye.png" class="img-eye" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <a>
              <button [disabled]="pager.currentPage === 1 || pager.currentPage<1" ngbTooltip="Previous" class="btn ft-chevron-left" (click)="setPage(pager.currentPage - 1)"></button>
              <button [disabled]="pager.currentPage === pager.totalPages" ngbTooltip="Next" class="btn ft-chevron-right" (click)="setPage(pager.currentPage + 1)"></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card  ml-auto mr-auto">
        <div class="card-body">
          <h5 class="font-weight-500 mb-0">{{customerDetail?.length}}
          <span class="float-right">
            <img src="../../../assets/img/ico/client.png" height="25px">
          </span></h5>
          <p class="mb-0">{{!rangeRecord?'New':''}} Customers</p>
          <hr>
          <div style="height: 190px; overflow-y: scroll;">
            <div *ngFor="let item of customerItems" class="media pt-0 pb-2 align-items-center">
              <img src="{{item.avatar?.value}}" alt="Avatar" width="35" class="mr-3 avatar round" onerror="src='../../../assets/img/gallery/1.jpg'">
              <div class="media-body">
                <h4 class="font-medium-1 mb-0">{{item.name}}</h4>
                <small class=" m-0">{{item.mobile}}</small>
              </div>
              <div class="media-body">
                <div class="text-right text-dark">
                  <a target="_blank" routerLink="/customers/custdetail/{{item._id}}">
                    <img src="../../../assets/img/ico/eye.png" class="img-eye" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <a>
              <button [disabled]="pager2.currentPage === 1 || pager2.currentPage<1" ngbTooltip="Previous" class="btn ft-chevron-left" (click)="setPageCustomer(pager2.currentPage - 1)"></button>
              <button [disabled]="pager2.currentPage === pager2.totalPages" ngbTooltip="Next" class="btn ft-chevron-right" (click)="setPageCustomer(pager2.currentPage + 1)"></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card  ml-auto mr-auto">
        <div class="card-body">
          <h5 class="font-weight-500 mb-0">{{bellboyDetail?.length}}
          <span class="float-right">
            <img height="25px" src="../../../assets/img/ico/BB-PNG.png">
          </span></h5>
          <p class="mb-0">{{!rangeRecord?'New':''}} Bellboys</p>
          <hr>
          <div style="height: 190px; overflow-y: scroll;">
            <div *ngFor="let item of bellboyItems" class="media pt-0 pb-2 align-items-center">
              <img src="{{item.avatar?.value}}" alt="Avatar" width="35" class="mr-3 avatar round" onerror="src='../../../assets/img/gallery/1.jpg'">
              <div class="media-body">
                <h4 class="font-medium-1 mb-0">{{item.name}}</h4>
                <small class=" m-0">{{item.mobile}}</small>
              </div>
              <div class="media-body">
                <div class="text-right text-dark">
                  <a target="_blank" routerLink="/bellboy/bellboydetail/{{item._id}}">
                    <img src="../../../assets/img/ico/eye.png" class="img-eye" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <a>
              <button [disabled]="pager3.currentPage === 1 || pager3.currentPage<1" ngbTooltip="Previous" class="btn ft-chevron-left" (click)="setPageBellboy(pager3.currentPage - 1)"></button>
              <button [disabled]="pager3.currentPage === pager3.totalPages" ngbTooltip="Next" class="btn ft-chevron-right" (click)="setPageBellboy(pager3.currentPage + 1)"></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #shimmer>
  <div class="shine w-100">
  </div>    
</ng-template>