hr{
    border-color: var(--bgColor) !important;
    margin: 12px 0px 12px 0px;
}
#totalSec hr{
    border: 1px solid;
}
ul>li{
    list-style: none;
    padding: 0px 12px 0px 12px;
    border-radius: 3px;
    background: rgba(250, 144,8,0.2);
    margin: 0px 10px 0px 10px;
    color: rgba(0,0,0,0.8);
}
ul .active, ul>li:hover{
    background: #fa9008;
    color: white;
}
.actions{
    padding: 6px 13px;
    border-radius: 50%;
    background: #ccc;
    margin: 0px 12px 0px 0px;
}
.hide-word{
    display: none;
    font-size: 10px;
    font-weight: 600;
    left: 0.2px;
    top: 10px;
}
.template{
    background-color: white;
    color: white;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
::ng-deep .ngb-dp-month{
    background: white;
    color: black;
    }
ngb-datepicker{
    position: absolute;
    z-index: 1050;
    right: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(0%);
}
.recordCard{
    transition: box-shadow 0.3s ease-in-out;
}
.recordCard:hover{
    box-shadow: 0 5px 10px rgba(255, 147, 12, 0.25), 0 0px 5px rgba(0, 0, 0, 0.22) !important;
}