ul>li{
    list-style: none;
    padding: 0px 12px 0px 12px;
    border-radius: 3px;
    background: rgba(250, 144,8,0.2);
    margin: 0px 10px 0px 10px;
    color: rgba(0,0,0,0.8);
}
ul .active, ul>li:hover{
    background: #fa9008;
    color: white;
}
.actions{
    padding: 6px 13px;
    border-radius: 50%;
    background: #ccc;
    margin: 0px 12px 0px 0px;
}
.hide-word{
    display: none;
    font-size: 10px;
    font-weight: 600;
    left: 0.2px;
    top: 10px;
}
.template{
    background-color: white;
    color: white;
}
#week:hover{
    cursor: pointer;
}
.shine{
    padding: 1.5rem;
}