.upload-input{
    position: absolute;
    right: 0px;
    opacity: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }
  .upload-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
  }
  .camera-icon{
    position: absolute;
    bottom: 0px;
    right: 66px;
  }
  .ng2-smart-page-item{
    line-height: unset;
    margin: 0 !important;
}
.form-check-label{
    cursor: pointer;
    text-transform: capitalize;
  }