<section id="tabs">
  <div class="row text-left mt-2">
    <div class="col-sm-6 mb-1">
      <h3 class="mb-0">Hiring Actions Types</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-orange mb-0" (click)="open(addActionsModel)">Add Action Type</button>
    </div>
  </div>
  <div class="row text-left">
    <!--Pills Starts-->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tableContext = 'all'; getActions('')">All Actions</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="tableBody"></ng-container>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tableContext = 'active'; getActions('true')">Active Actions</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="tableBody"></ng-container>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <div class="tab-padding" (click)="tableContext='blocked'; getActions('false')">Blocked Actions</div>
                </ng-template>
                <ng-template ngbTabContent>
                  <table class="table table-responsive-md table-striped">
                    <thead>
                      <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
                    </thead>
                    <tbody>
                      <ng-container *ngTemplateOutlet="tableBody"></ng-container>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
    <!--Pills Ends-->
  </div>
</section>
<!-- addbrand -->
<ng-template #addActionsModel let-modal>
  <div class="modal-header justify-content-center mb-1">
    <h3 class="card-title mb-0">Add Vehicle Type</h3>
    <a (click)="modal.close('Cancel Modal')">
      <i class="ft-x close-icon"></i>
    </a>
  </div>
  <div class="modal-body pb-0">
    <form [formGroup]="addHiringAction">
      <div class="form-group text-center col-sm-12">
        <div class="position-relative">
          <input accept="image/*" #file type="file" accept='image/*' (change)="preview(file.files)" class="upload-input" type="file">
          <button class="camera-icon btn btn-orange">Add Image</button>
          <img class="upload-image" id="img1" onerror="src='../../../assets/img/ico/bb-brand.jpg'" src="{{imgURL}}">
          <p class="text-error mb-0" *ngIf="message">{{message}}</p>
          <p class="text-error" *ngIf="imgURL==undefined && submitted">
            Image is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="title" class="form-control" placeholder="Action Title">
        <p class="text-error" *ngIf="addHiringAction.controls.title.hasError('required') && submitted">
          Title is required
        </p>
      </div>
      <div class="form-group">
        <input type="text" formControlName="desc" class="form-control" placeholder="Description">
        <p class="text-error" *ngIf="addHiringAction.controls.desc.hasError('required') && submitted">
          Description is required
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer mb-2">
    <div>
      <button type="submit" class="btn btn-success" (click)="addAction(addHiringAction)">Add</button>
    </div>
  </div>
</ng-template>
<ng-template #addLabel let-modal>
  <div class="modal-header justify-content-center">
    <h3 class="card-title mb-0">Add Label</h3>
    <a (click)="modal.close('Cancel Modal')">
      <i class="ft-x close-icon"></i>
    </a>
  </div>
  <div class="modal-body">
    <form [formGroup]="assignLabel">
      <div class="form-group">
        <select class="form-control" (change)="changeLocal($event)">
          <option value="">Select Language</option>
          <option *ngFor="let item of locals" value="{{item.code}}/{{item._id}}">
            {{item.title}}
          </option>
        </select>
      </div>
      <div class="form-group" *ngIf="code=='ur' || code=='ar'">
        <input type="text" formControlName="label" class="form-control text-right" placeholder="لیبل">
      </div>
      <div class="form-group" *ngIf="code=='en'">
        <input type="text" formControlName="label" class="form-control" placeholder="Label">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitLabel(assignLabel)">Add Label</button>
  </div>
</ng-template>
<ng-template #bigImg let-modal>
  <div class="modal-header d-flex justify-content-end pb-0 mb-2">
    <a class="mb-2">
      <span class="ft-x text-error" (click)="modal.close('Cancel Cick')"></span>
    </a>
  </div>
  <div class="modal-body d-flex justify-content-center pt-0">
    <img src="{{currentImage}}" onerror="src='../../../../assets/img/gallery/1.jpg'" class="object-fit">
  </div>
</ng-template>
<ng-template #tableHeader>
  <tr>
    <th>Icon</th>
    <th>Title</th>
    <th class="text-left">Description</th>
    <th>Task Performed</th>
    <th>Action</th>
  </tr>
</ng-template>
<ng-template #tableBody>
  <ng-container *ngTemplateOutlet="shimmer"></ng-container>
  <tr *ngFor="let item of hiringActions">
    <td class="image-td">
      <img src="{{amazonImgUrl}}{{item.icon}}" onerror="src='../../../assets/img/gallery/1.jpg'" alt="img" (click)="bigImage(bigImg, item.icon)" class="table-img-size">
    </td>
    <td>{{item.title}}</td>
    <td class="desc">{{item.description}}</td>
    <!-- <td>
        <div *ngFor="let label of item.labels">
          <p *ngIf="label?.locale?.code == 'ur'">
            {{label?.label}} 
          </p>
        </div>
      </td> -->
    <td>{{item.actionCount}}</td>
    <td>
      <button (click)="open(addLabel); actionTypeId=item._id" class="btn btn-orange">Assign Label</button>
      <button *ngIf="tableContext == 'active'" (click)="changeActionStatus(false, item._id)" class="btn btn-danger ml-2">Block Action</button>
      <button *ngIf="tableContext == 'blocked'" (click)="changeActionStatus(true, item._id)" class="btn btn-success ml-2">Active Action</button>
    </td>
  </tr>
</ng-template>
<ng-template #shimmer>
  <tr *ngIf="spinner">
    <td colspan="12">
      <div class="py-3 shine w-100"></div>
    </td>
  </tr>
</ng-template>